:{$PORT:3000} {
	handle /api/* {
		root * /app/api/public
		php_fastcgi 127.0.0.1:9000
	}

	handle /sanctum/* {
		root * /app/api/public
		php_fastcgi 127.0.0.1:9000
	}

	handle {
		root * /app/web/build
		try_files {path} /index.html
		file_server
		encode gzip

		header {
			X-Frame-Options SAMEORIGIN
			X-XSS-Protection "1; mode=block"
			X-Content-Type-Options nosniff
			Referrer-Policy no-referrer-when-downgrade
		}
	}
}
